{% extends 'base.html' %}
{% load comments_extras %}

{% block main %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ post.category }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ post.get_time }}">{{ post.get_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author.username }}</a></span>
                {#           TODO: retrieve comment and reads           #}
                <span class="comments-link"><a href="#">4 comments</a></span>
                <span class="views-count"><a href="#">588 reads</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            {{ post.body | safe }}
        </div>
    </article>
    <section class="comment-area" id="comment-area">
        <hr>

        {% show_comment_form post %}

        <div class="comment-list-panel">
            {% show_comments post %}
        </div>
    </section>
{% endblock %}
{% block toc %}
    {% if post.toc %}
        <div class="widget widget-content">
            <h3 class="widget-title">Contents</h3>
            {{ post.toc | safe }}
        </div>
    {% endif %}
{% endblock %}
