<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2017 - Collected from <a href="http://www.cssmoban.com/"
                                                                    target="_blank" title="Template House">Template
                    House</a>
                    - by <a href="http://zmrenwu.com/" title="Web Template" target="_blank">Dream Catcher Blog</a>
                </p>
            </div>
        </div>
    </div>
</footer>